name: release-please

on:
  push:
    branches:
      - nexting

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: google-github-actions/release-please-action@v4
        with:
          # This assumes you are releasing a single package
          release-type: node
          target-branch: nexting
